In [1]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
original_df = pd.read_json('Donnees_Louvre_Zones_FORMATTED.json')
original_df.columns

Index(['_index', '_type', '_id', '_score', '_source'], dtype='object')

In [3]:
original_df

,_index,_type,_id,_score,_source
0,visits2,visit,14859677952946378,1,"{'user_id': '2946378', 'visit_begin': '2017-02..."
1,visits2,visit,14883584032946378,1,"{'user_id': '2946378', 'visit_begin': '2017-03..."
2,visits2,visit,14885292222946378,1,"{'user_id': '2946378', 'visit_begin': '2017-03..."
3,visits2,visit,14903809872946378,1,"{'user_id': '2946378', 'visit_begin': '2017-03..."
4,visits2,visit,14920083432996102,1,"{'user_id': '2996102', 'visit_begin': '2017-04..."
...,...,...,...,...,...
4940,visits2,visit,14960599844878268,1,"{'userId': '4878268', 'visit_begin': '2017-05-..."
4941,visits2,visit,14960628574878268,1,"{'user_id': '4878268', 'visit_begin': '2017-05..."
4942,visits2,visit,14960601214878274,1,"{'userId': '4878274', 'visit_begin': '2017-05-..."
4943,visits2,visit,14960664844878274,1,"{'user_id': '4878274', 'visit_begin': '2017-05..."
4944,visits2,visit,14960664374878408,1,"{'userId': '4878407', 'visit_begin': '2017-05-..."

In [4]:
df = original_df._source

In [5]:
df

0       {'user_id': '2946378', 'visit_begin': '2017-02...
1       {'user_id': '2946378', 'visit_begin': '2017-03...
2       {'user_id': '2946378', 'visit_begin': '2017-03...
3       {'user_id': '2946378', 'visit_begin': '2017-03...
4       {'user_id': '2996102', 'visit_begin': '2017-04...
                              ...
4940    {'userId': '4878268', 'visit_begin': '2017-05-...
4941    {'user_id': '4878268', 'visit_begin': '2017-05...
4942    {'userId': '4878274', 'visit_begin': '2017-05-...
4943    {'user_id': '4878274', 'visit_begin': '2017-05...
4944    {'userId': '4878407', 'visit_begin': '2017-05-...
Name: _source, Length: 4945, dtype: object

In [6]:
visits_df = pd.DataFrame(columns = ["Id", "User Id", "Begin At", "Duration", "Positions", "Zones"])

In [7]:
for  index, visit in original_df._source.iteritems():
    
    visits_df.at[index, 'Id'] = original_df.loc[index,'_id']
    if 'user_id' in visit:
        visits_df.at[index, 'User Id'] = visit['user_id']
    elif 'userId' in visit:
        visits_df.at[index, 'User Id'] = visit['userId']
    visits_df.at[index, 'Begin At'] = pd.to_datetime(visit['visit_begin'])
    visits_df.at[index, 'Duration'] = visit['visit_duration']
    visits_df.at[index, 'Positions'] = visit['number_of_positions']
    visits_df.at[index, 'Zones'] = []
    zone_list1 = []

In [8]:
visit['visit_times_zones'][:]

[{'zone': {'id': 60910,
   'name': 'N1-Richelieu-Arts décoratifs européens',
   'tags': ['stats'],
   'level': 1},
  'begin_at': '2017-05-29T14:00:37.000Z',
  'duration': 48,
  'nextZone': 60894},
 {'zone': {'id': 60894,
   'name': 'N2-Richelieu-Peintures/France',
   'tags': [],
   'level': 2},
  'begin_at': '2017-05-29T14:01:26.000Z',
  'duration': 9,
  'nextZone': 60910},
 {'zone': {'id': 60910,
   'name': 'N1-Richelieu-Arts décoratifs européens',
   'tags': ['stats'],
   'level': 1},
  'begin_at': '2017-05-29T14:01:40.000Z',
  'duration': 73,
  'nextZone': 60846},
 {'zone': {'id': 60846,
   'name': 'RC-Richelieu-Antiquités du Proche-Orient',
   'tags': [],
   'level': 0},
  'begin_at': '2017-05-29T14:02:54.000Z',
  'duration': 45,
  'nextZone': 60847},
 {'zone': {'id': 60847,
   'name': 'RC-Richelieu-Sculptures France Puget',
   'tags': [],
   'level': 0},
  'begin_at': '2017-05-29T14:05:08.000Z',
  'duration': 3,
  'nextZone': 60910},
 {'zone': {'id': 60910,
   'name': 'N1-Richelieu-Arts décoratifs européens',
   'tags': ['stats'],
   'level': 1},
  'begin_at': '2017-05-29T14:05:12.000Z',
  'duration': 85}]

In [9]:
for  index, visit in original_df._source.iteritems():
    
    visits_df.at[index, 'Id'] = original_df.loc[index,'_id']
    if 'user_id' in visit:
        visits_df.at[index, 'User Id'] = visit['user_id']
    elif 'userId' in visit:
        visits_df.at[index, 'User Id'] = visit['userId']
    visits_df.at[index, 'Begin At'] = pd.to_datetime(visit['visit_begin'])
    visits_df.at[index, 'Duration'] = visit['visit_duration']
    visits_df.at[index, 'Positions'] = visit['number_of_positions']
    visits_df.at[index, 'Zones'] = []
    zone_list1 = []

In [10]:
zones_df = pd.DataFrame(columns = ["ZoneId", "ZoneName", "ZoneDuration", "ZoneLevel"])
for  index, visit in original_df._source.iteritems():
    
    visits_df.at[index, 'Id'] = original_df.loc[index,'_id']
    if 'user_id' in visit:
        visits_df.at[index, 'User Id'] = visit['user_id']
    elif 'userId' in visit:
        visits_df.at[index, 'User Id'] = visit['userId']
    visits_df.at[index, 'Begin At'] = pd.to_datetime(visit['visit_begin'])
    visits_df.at[index, 'Duration'] = visit['visit_duration']
    visits_df.at[index, 'Positions'] = visit['number_of_positions']
    visits_df.at[index, 'Zones'] = []
    zone_list1 = []
    for zone in visit['visit_times_zones'][:]:
        zones_df.at[index, "ZoneId"] = zone["zone"]["id"]
        zones_df.at[index, "ZoneName"] = zone["zone"]["name"]
        zones_df.at[index, "ZoneDuration"] = zone["duration"]
        zones_df.at[index, "ZoneLevel"] = zone["zone"]["level"]

In [11]:
#zones = hcv.loc[hcv['Category'] == 3]

In [12]:
zones_df

     ZoneId                                  ZoneName ZoneDuration ZoneLevel
0     60890           S2-Napoleon-Librairie,Boutiques           31        -2
1     60888                      S2-Napoleon-Pyramide            9        -2
2     60908            N1-Sully Pavillon de l'horloge            3         1
3     60892             N2-Sully-Peintures/France BIS           52         2
4     60910    N1-Richelieu-Arts décoratifs européens           18         1
...     ...                                       ...          ...       ...
4940  60851              RC-Sully-Antiquités grecques          346         0
4941  60906  N1-Sully-Antiquités grecques et romaines          258         1
4942  60910    N1-Richelieu-Arts décoratifs européens          492         1
4943  60910    N1-Richelieu-Arts décoratifs européens           86         1
4944  60910    N1-Richelieu-Arts décoratifs européens           85         1

[4945 rows x 4 columns]

In [13]:
ListZoneNames = zones_df.ZoneName.unique()

In [14]:
for zoneName in ListZoneNames : 
    zone1 = zones_df.loc[zones_df['ZoneName'] == zoneName]

In [15]:
ListZoneNames

array(['S2-Napoleon-Librairie,Boutiques', 'S2-Napoleon-Pyramide',
       "N1-Sully Pavillon de l'horloge", 'N2-Sully-Peintures/France BIS',
       'N1-Richelieu-Arts décoratifs européens',
       'N2-Richelieu-Peintures/Europe du Nord',
       'RC-Richelieu-Sculptures France Marly',
       'RC-Denon-Antiquités italiques et étrusques',
       'N1-Denon-Peintures/France', 'S2-Napoleon-Expositions',
       'RC-Sully-Antiquités égyptiennes', 'RC-Denon-Antiquités romaines',
       'RC-Sully-Antiquités du Proche-Orient',
       'N1-Sully-Arts décoratifs européens',
       'N1-Sully-Antiquités grecques et romaines',
       'S2-Napoleon-Billeterie', 'N2-Sully-Peintures/France',
       'RC-Sully-Antiquités grecques',
       "RC-Denon-Arts d'Afrique, d'Asie, d'Océanie et des Amériques",
       'N1-Sully-Antiquités égyptiennes', 'RC-Denon-Sculptures/Europe',
       'RC-Richelieu-Antiquités du Proche-Orient',
       'RC-Richelieu-Sculptures France Puget',
       'N1-Denon-Arts décoratifs européens',
       'N1-Denon-Escalier Peintures France', 'N1-Denon-Samothrace',
       'stairs_elevator', "N2-Sully-Pavillon de l'Horloge",
       'N2-Escalator', 'N2-Richelieu-Peintures/France'], dtype=object)

In [16]:
visits_df.Duration.max()

27697

In [17]:
zones_df.ZoneId.drop_duplicates()

0      60890
1      60888
2      60908
3      60892
4      60910
7      60895
8      60848
9      60852
13     60902
15     60887
17     60850
22     60853
26     60849
41     60909
57     60906
67     60889
77     60891
256    60851
258    60855
259    60907
277    60854
290    60846
306    60847
313    60903
327    60911
329    60904
433    60839
536    60893
676    60896
717    60894
Name: ZoneId, dtype: object

In [18]:
zones_df

     ZoneId                                  ZoneName ZoneDuration ZoneLevel
0     60890           S2-Napoleon-Librairie,Boutiques           31        -2
1     60888                      S2-Napoleon-Pyramide            9        -2
2     60908            N1-Sully Pavillon de l'horloge            3         1
3     60892             N2-Sully-Peintures/France BIS           52         2
4     60910    N1-Richelieu-Arts décoratifs européens           18         1
...     ...                                       ...          ...       ...
4940  60851              RC-Sully-Antiquités grecques          346         0
4941  60906  N1-Sully-Antiquités grecques et romaines          258         1
4942  60910    N1-Richelieu-Arts décoratifs européens          492         1
4943  60910    N1-Richelieu-Arts décoratifs européens           86         1
4944  60910    N1-Richelieu-Arts décoratifs européens           85         1

[4945 rows x 4 columns]

In [19]:
original_df = pd.read_json('Donnees_Louvre_Zones_FORMATTED.json')
original_df.columns

Index(['_index', '_type', '_id', '_score', '_source'], dtype='object')

In [20]:
artificial_matrix =pd.read_csv('/Users/tokarev/Desktop/LouvreIndoorTrajectoryGen/out.csv', index_col=0)

In [21]:
artificial_matrix

,60896,60895,60894,60891,60893,70002,70003,60892,60911,60902,...,65023,60888,60887,65022,60848,65011,65012,70013,65006,60839
60896,0.000000,0.383391,0.007353,0.00000,0.000000,0.000000,0.000000,0.002091,0.000000,0.000000,...,0.0,0.004190,0.0,0.0,0.001834,0.0,0.0,0.0,0.0,0.000000
60895,0.117338,0.000000,0.002152,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.032941,...,0.0,0.016452,0.0,0.0,0.095131,0.0,0.0,0.0,0.0,0.000000
60894,0.004777,0.045637,0.000000,0.15000,0.003237,0.000000,0.000000,0.482579,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.003080,0.0,0.0,0.0,0.0,0.007817
60891,0.000000,0.000000,0.021429,0.00000,0.024175,0.021429,0.021429,0.090885,0.000097,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
60893,0.000000,0.000000,0.000000,0.16938,0.000000,0.075000,0.075000,0.471311,0.000000,0.018562,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65011,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
65012,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
70013,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
65006,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.150000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
60839,0.000000,0.000000,0.035148,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.195024,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000

In [22]:
artificial_matrix.loc[60896]['60896']

0.0

In [23]:
artificial_matrix.loc[60888][0]

0.00296735

In [24]:
zones_df.ZoneDuration

0        31
1         9
2         3
3        52
4        18
       ...
4940    346
4941    258
4942    492
4943     86
4944     85
Name: ZoneDuration, Length: 4945, dtype: object

In [ ]:
import random
random.random()

In [ ]:
#if(random.random() < 0.5) :
#    enter = enter_area[0]
#else :
#    enter = enter_area[1]
#print('enter : ', enter)

In [ ]:
artificial_matrix.columns[0]

In [27]:
import random
#a ne pas oublier combien de temps il y reste aussi si zone de sorti sortir forcément ou non je test avec oui ?
exit_zones = ['70020', '65019', '65020', '65021', '60887', '60911', '60910']
enter_area = ['60888', '65023']
max_visite_duration = 27697 * 2 #la durée limite d'une visite générer sera 2*max_visite_duration
trajectories = []
trajectories.append(60888)
####################################################################################################################################
def GenerateWithProbability(enter):
    y = 0
    if(len(trajectories) > 100) :
        return
    for i in range(1000):
        if(random.random() < artificial_matrix.loc[enter][y]) :
            if(artificial_matrix.columns[y] in exit_zones):
                trajectories.append('exit at :'+ artificial_matrix.columns[y])
                trajectories.append(60888)
                GenerateWithProbability(60888)
            else :
                trajectories.append(int(artificial_matrix.columns[y]))
                GenerateWithProbability(int(artificial_matrix.columns[y]))
        else :
            if(y<81) :
                y = y+1
            else :
                y=0

In [28]:
GenerateWithProbability(60888)

In [29]:
trajectories

[60888,
 'exit at :60887',
 60888,
 60889,
 60888,
 60853,
 70017,
 70010,
 60904,
 65004,
 65005,
 60902,
 60853,
 60902,
 60888,
 65022,
 60888,
 60853,
 60854,
 60853,
 60902,
 60904,
 60902,
 'exit at :60911',
 60888,
 60902,
 60851,
 60852,
 60902,
 60855,
 60854,
 60902,
 60892,
 60891,
 70002,
 60892,
 60909,
 60891,
 60892,
 60894,
 60892,
 60894,
 60892,
 60891,
 60851,
 60852,
 60853,
 70018,
 60853,
 60854,
 60902,
 60853,
 60852,
 70017,
 60852,
 60904,
 60852,
 60904,
 70010,
 60902,
 'exit at :60911',
 60888,
 'exit at :60887',
 60888,
 60902,
 65005,
 'exit at :60911',
 60888,
 'exit at :60887',
 60888,
 60853,
 60854,
 60902,
 65005,
 65004,
 65005,
 60902,
 'exit at :60911',
 60888,
 60854,
 60902,
 'exit at :60911',
 60888,
 60890,
 60892,
 60909,
 60907,
 60850,
 60849,
 60909,
 60891,
 60907,
 60850,
 60907,
 60850,
 60907,
 60850,
 60907,
 60850,
 60907,
 60892,
 60850,
 60850,
 60851,
 60850,
 60850,
 60892,
 60850,
 60850,
 60850,
 60850,
 60850,
 60850,
 60850,
 60891,
 60909,
 60907,
 60907,
 60849,
 60907,
 60907,
 60907,
 60907,
 60907,
 60907,
 'exit at :60910',
 60888,
 70014,
 60907,
 60907,
 60852,
 60850,
 60906,
 60906,
 70009,
 60906,
 60906,
 60850,
 60850,
 60850,
 60850,
 60906,
 60850,
 60891,
 60850,
 60906,
 60909,
 60849,
 60849,
 60909,
 60907,
 60907,
 60907,
 60907,
 60851,
 60907,
 60907,
 60907,
 60907,
 60907,
 70014,
 60907,
 60907,
 60849,
 60849,
 70028,
 60850,
 60850,
 60850,
 60850,
 60891,
 60891,
 60891,
 60909,
 65012,
 60850,
 60850,
 60891,
 70008,
 60850,
 60850,
 60850,
 60850,
 60906,
 60850,
 60907,
 60907,
 60907,
 60907,
 60851,
 60907,
 60907,
 60907,
 60907,
 60851,
 60909,
 60907,
 60907,
 60907,
 60907,
 60907,
 60906,
 60907,
 60907,
 60907,
 60907,
 60907,
 60907,
 60850,
 60850,
 60850,
 60850,
 60850,
 60850,
 60850,
 60891,
 60850,
 60906,
 60891,
 'exit at :60910',
 60888,
 60909,
 60850,
 60909,
 60850,
 60850,
 65012,
 65012,
 60850,
 60850,
 60888,
 60907,
 60849,
 60907,
 60907,
 60907,
 60907,
 70014,
 60851,
 70015,
 60907,
 60850,
 60850,
 60850,
 60850,
 60891,
 60850,
 60850,
 60891,
 60850,
 60891,
 60907,
 60906,
 60906,
 60906,
 60892,
 60909,
 60908,
 60906,
 60906,
 60846,
 70002,
 60906,
 60907,
 60906,
 60909,
 60891,
 60892,
 60891,
 60849,
 60849,
 'exit at :60910',
 60888,
 60891,
 60908,
 60849,
 60891,
 60891,
 60907,
 60849,
 60850,
 60909,
 60909,
 60850,
 60846,
 60909,
 60909,
 60909,
 70015,
 60851,
 60850,
 70028,
 60907,
 60907,
 60907,
 60849,
 60907,
 60907,
 60907,
 60907,
 60907,
 70014,
 60907,
 60907,
 60907,
 60907,
 60907,
 60909,
 60850,
 60850,
 60850,
 'exit at :60910',
 60888,
 60850,
 60850,
 60891,
 70009,
 60891,
 60891,
 60891,
 60850,
 65012,
 60909,
 60850,
 60909,
 60909,
 60850,
 60850,
 60850,
 60850,
 60907,
 60892,
 60849,
 60892,
 60908,
 60907,
 60849,
 'exit at :60910',
 60888,
 'exit at :60910',
 60888,
 60891,
 60891,
 60892,
 60892,
 'exit at :60910',
 60888,
 60893,
 60893,
 70002,
 60909,
 60909,
 60891,
 60888,
 60909,
 60909,
 60909,
 60891,
 60891,
 60891,
 60891,
 60909,
 60892,
 60892,
 60892,
 60892,
 60850,
 65023,
 60892,
 60892,
 60888,
 60888,
 60888,
 60888,
 60892,
 60850,
 60888,
 60888,
 60888,
 'exit at :60887',
 60888,
 60854,
 60853,
 'exit at :60887',
 60888,
 'exit at :60887',
 60888,
 'exit at :60887',
 60888,
 60853,
 65006,
 60909,
 'exit at :60887',
 60888,
 60851,
 60890,
 60847,
 60888,
 60904,
 70010,
 60853,
 60853,
 60853,
 60854,
 'exit at :60911',
 60888,
 60904,
 60854,
 60854,
 'exit at :60911',
 60888,
 65005,
 60904,
 70019,
 60853,
 60853,
 60851,
 70019,
 60902,
 60902,
 60853,
 60902,
 60902,
 60854,
 'exit at :60887',
 60888,
 60847,
 60889,
 65006,
 60852,
 60853,
 60853,
 65018,
 65022,
 60895,
 60853,
 65022,
 'exit at :60911',
 60888,
 60854,
 'exit at :60911',
 60888,
 60904,
 60851,
 'exit at :60911',
 60888,
 'exit at :60911',
 60888,
 'exit at :60911',
 60888,
 60852,
 'exit at :60911',
 60888,
 60854,
 'exit at :60911',
 60888,
 65004,
 65004,
 60854,
 60853,
 'exit at :60911',
 60888,
 60853,
 60853,
 60854,
 60854,
 60853,
 60854,
 'exit at :60911',
 60888,
 60904,
 60855,
 60854,
 60902,
 60902,
 60902,
 60902,
 60904,
 60853,
 60853,
 60853,
 60902,
 60853,
 60902,
 60853,
 60902,
 60902,
 60854,
 60839,
 60902,
 60902,
 70018,
 60839,
 60852,
 60902,
 70017,
 60904,
 60904,
 60854,
 70017,
 60904,
 60854,
 60854,
 60853,
 60890,
 60889,
 'exit at :60887',
 60888,
 60849,
 'exit at :60910',
 60888,
 60851,
 60851,
 'exit at :60887',
 60888,
 60889,
 'exit at :60887',
 60888,
 'exit at :60887',
 60888,
 'exit at :60887',
 60888,
 60853,
 60854,
 60854,
 60889,
 'exit at :60887',
 60888,
 60890,
 65018,
 60902,
 60852,
 60850,
 'exit at :60887',
 60888,
 'exit at :60887',
 60888,
 60904,
 'exit at :60911',
 60888,
 65005,
 60855,
 'exit at :60911',
 60888,
 60852,
 'exit at :60911',
 60888,
 'exit at :60911',
 60888,
 'exit at :60911',
 60888,
 65018,
 60889,
 60851,
 'exit at :60887',
 60888,
 60851,
 60849,
 'exit at :60887',
 60888,
 'exit at :60887',
 60888,
 60902,
 'exit at :60887',
 60888,
 60847,
 60854,
 'exit at :60887',
 60888,
 'exit at :60887',
 60888,
 'exit at :60887',
 60888,
 60889,
 60889,
 'exit at :60887',
 60888,
 60890,
 'exit at :60887',
 60888,
 60853,
 60890,
 'exit at :60887',
 60888,
 60889,
 65006,
 60853,
 'exit at :60887',
 60888,
 60854,
 'exit at :60911',
 60888,
 'exit at :60911',
 60888,
 60853,
 'exit at :60911',
 60888,
 'exit at :60911',
 60888,
 65005,
 60904,
 65004,
 70010,
 70010,
 60852,
 60903,
 60902,
 60902,
 70011,
 70011,
 60906,
 60906,
 60906,
 60852,
 60851,
 60851,
 60851,
 60904,
 70017,
 60851,
 60851,
 60851,
 60888,
 60888,
 60904,
 60853,
 60902,
 60904,
 60852,
 60902,
 60903,
 60903,
 60888,
 60902,
 60906,
 60853,
 60902,
 60906,
 60851,
 60851,
 60851,
 60851,
 60853,
 60851,
 60851,
 60904,
 60904,
 60904,
 60904,
 60851,
 60851,
 60851,
 60851,
 60851,
 70010,
 60852,
 60851,
 60851,
 60902,
 60851,
 70017,
 60853,
 60853,
 60904,
 60851,
 60851,
 60853,
 70017,
 60851,
 60851,
 60851,
 60851,
 60902,
 60902,
 60902,
 60902,
 60888,
 60902,
 60902,
 60902,
 60852,
 60902,
 60902,
 60902,
 70017,
 60902,
 60902,
 60902,
 60902,
 70017,
 60852,
 60853,
 'exit at :60911',
 60888,
 60853,
 60852,
 60853,
 60853,
 60854,
 60902,
 70018,
 60902,
 60853,
 60852,
 60902,
 60902,
 60853,
 60902,
 60902,
 60851,
 60902,
 60902,
 60902,
 70018,
 60908,
 60902,
 60854,
 60902,
 60902,
 60852,
 60854,
 60902,
 60854,
 70018,
 60852,
 60852,
 60902,
 70018,
 'exit at :60910',
 60888,
 60902,
 60854,
 60852,
 60902,
 70018,
 60902,
 70018,
 60902,
 70017,
 60852,
 60839,
 60902,
 60853,
 60851,
 60851,
 60851,
 70017,
 60851,
 60851,
 60851,
 60888,
 70017,
 60851,
 70017,
 60851,
 60851,
 60853,
 60853,
 60906,
 60850,
 60852,
 60852,
 70016,
 60852,
 60850,
 60850,
 60839,
 60906,
 60908,
 60851,
 60851,
 60906,
 60906,
 60906,
 60906,
 60906,
 60906,
 60892,
 60909,
 60907,
 60909,
 60907,
 60891,
 60907,
 60849,
 60909,
 60894,
 60893,
 60891,
 60891,
 60891,
 60909,
 60891,
 60895,
 'exit at :60910',
 60888,
 60895,
 60892,
 60892,
 60892,
 60892,
 60892,
 60892,
 60892,
 60892,
 60892,
 60892,
 60892,
 60892,
 'exit at :60910',
 60888,
 60891,
 60892,
 60892,
 60891,
 60891,
 60894,
 60891,
 60891,
 70003,
 60909,
 60909,
 60909,
 60891,
 70003,
 60850,
 60850,
 60893,
 60893,
 60909,
 60892,
 60849,
 60891,
 60892,
 60892,
 60892,
 'exit at :60910',
 60888,
 'exit at :60910',
 60888,
 60892,
 'exit at :60910',
 60888,
 'exit at :60910',
 60888,
 'exit at :60910',
 60888,
 'exit at :60910',
 60888,
 'exit at :60910',
 60888,
 60892,
 60892,
 60895,
 60892,
 60846,
 60892,
 60846,
 60891,
 60891,
 60891,
 60891,
 60891,
 60891,
 60891,
 60909,
 60850,
 60894,
 60891,
 60891,
 60893,
 60894,
 60891,
 60849,
 60907,
 60906,
 60849,
 60892,
 60850,
 60907,
 60909,
 60906,
 60906,
 60906,
 60906,
 60906,
 60906,
 60906,
 60909,
 60907,
 60906,
 60906,
 60906,
 60909,
 60909,
 60849,
 60907,
 60849,
 60849,
 60846,
 60908,
 60849,
 60909,
 60891,
 60909,
 60891,
 60891,
 60909,
 60891,
 60909,
 60893,
 60909,
 60891,
 60891,
 70023,
 60893,
 70005,
 60894,
 60907,
 60906,
 60906,
 60906,
 60906,
 70003,
 60906,
 60906,
 60909,
 60906,
 60906,
 60891,
 60909,
 60891,
 60891,
 60891,
 60891,
 60891,
 60891,
 60909,
 60894,
 60891,
 70002,
 60909,
 60894,
 60891,
 60891,
 60891,
 60909,
 70003,
 70010,
 60854,
 60904,
 60854,
 70010,
 60852,
 60906,
 60904,
 60904,
 60854,
 60854,
 60854,
 60853,
 60904,
 'exit at :60911',
 60888,
 'exit at :60911',
 60888,
 65005,
 60902,
 60902,
 60853,
 60853,
 60853,
 60902,
 70018,
 60853,
 70018,
 60902,
 60902,
 60853,
 60902,
 60902,
 60904,
 60907,
 60902,
 60902,
 60902,
 'exit at :70020',
 60888,
 60854,
 60853,
 60854,
 'exit at :60911',
 60888,
 60904,
 60854,
 'exit at :60911',
 60888,
 60855,
 'exit at :60911',
 60888,
 ...]

In [30]:
trajectories[len(trajectories)-1]

60888

In [31]:
zones_df

     ZoneId                                  ZoneName ZoneDuration ZoneLevel
0     60890           S2-Napoleon-Librairie,Boutiques           31        -2
1     60888                      S2-Napoleon-Pyramide            9        -2
2     60908            N1-Sully Pavillon de l'horloge            3         1
3     60892             N2-Sully-Peintures/France BIS           52         2
4     60910    N1-Richelieu-Arts décoratifs européens           18         1
...     ...                                       ...          ...       ...
4940  60851              RC-Sully-Antiquités grecques          346         0
4941  60906  N1-Sully-Antiquités grecques et romaines          258         1
4942  60910    N1-Richelieu-Arts décoratifs européens          492         1
4943  60910    N1-Richelieu-Arts décoratifs européens           86         1
4944  60910    N1-Richelieu-Arts décoratifs européens           85         1

[4945 rows x 4 columns]

In [32]:
durationPerZone_df = zones_df[['ZoneId', 'ZoneDuration']].copy()

In [33]:
durationPerZone_df.iloc[0]

ZoneId          60890
ZoneDuration       31
Name: 0, dtype: object

In [34]:
countDU = durationPerZone_df.groupby("ZoneId").count()
sumDU = durationPerZone_df.groupby("ZoneId").sum()

In [43]:
print(sumDU.count())

ZoneDuration    30
dtype: int64

In [41]:
#que 30 sur 82 donc on a 52 zones ou a enregistré aucune duration beaucoup trop de vide dans les do
#zone de sorties inexistantes dans le dataset orginial fait que on ne sors jamais

In [39]:
zones_df

     ZoneId                                  ZoneName ZoneDuration ZoneLevel
0     60890           S2-Napoleon-Librairie,Boutiques           31        -2
1     60888                      S2-Napoleon-Pyramide            9        -2
2     60908            N1-Sully Pavillon de l'horloge            3         1
3     60892             N2-Sully-Peintures/France BIS           52         2
4     60910    N1-Richelieu-Arts décoratifs européens           18         1
...     ...                                       ...          ...       ...
4940  60851              RC-Sully-Antiquités grecques          346         0
4941  60906  N1-Sully-Antiquités grecques et romaines          258         1
4942  60910    N1-Richelieu-Arts décoratifs européens          492         1
4943  60910    N1-Richelieu-Arts décoratifs européens           86         1
4944  60910    N1-Richelieu-Arts décoratifs européens           85         1

[4945 rows x 4 columns]