In [24]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
original_df = pd.read_json('Donnees_Louvre_Zones_FORMATTED.json')
original_df.columns

Index(['_index', '_type', '_id', '_score', '_source'], dtype='object')

In [27]:
original_df

,_index,_type,_id,_score,_source
0,visits2,visit,14859677952946378,1,"{'user_id': '2946378', 'visit_begin': '2017-02..."
1,visits2,visit,14883584032946378,1,"{'user_id': '2946378', 'visit_begin': '2017-03..."
2,visits2,visit,14885292222946378,1,"{'user_id': '2946378', 'visit_begin': '2017-03..."
3,visits2,visit,14903809872946378,1,"{'user_id': '2946378', 'visit_begin': '2017-03..."
4,visits2,visit,14920083432996102,1,"{'user_id': '2996102', 'visit_begin': '2017-04..."
...,...,...,...,...,...
4940,visits2,visit,14960599844878268,1,"{'userId': '4878268', 'visit_begin': '2017-05-..."
4941,visits2,visit,14960628574878268,1,"{'user_id': '4878268', 'visit_begin': '2017-05..."
4942,visits2,visit,14960601214878274,1,"{'userId': '4878274', 'visit_begin': '2017-05-..."
4943,visits2,visit,14960664844878274,1,"{'user_id': '4878274', 'visit_begin': '2017-05..."
4944,visits2,visit,14960664374878408,1,"{'userId': '4878407', 'visit_begin': '2017-05-..."

In [4]:
df = original_df._source

In [22]:
df

0       {'user_id': '2946378', 'visit_begin': '2017-02...
1       {'user_id': '2946378', 'visit_begin': '2017-03...
2       {'user_id': '2946378', 'visit_begin': '2017-03...
3       {'user_id': '2946378', 'visit_begin': '2017-03...
4       {'user_id': '2996102', 'visit_begin': '2017-04...
                              ...
4940    {'userId': '4878268', 'visit_begin': '2017-05-...
4941    {'user_id': '4878268', 'visit_begin': '2017-05...
4942    {'userId': '4878274', 'visit_begin': '2017-05-...
4943    {'user_id': '4878274', 'visit_begin': '2017-05...
4944    {'userId': '4878407', 'visit_begin': '2017-05-...
Name: _source, Length: 4945, dtype: object

In [29]:
visits_df = pd.DataFrame(columns = ["Id", "User Id", "Begin At", "Duration", "Positions", "Zones"])

In [30]:
for  index, visit in original_df._source.iteritems():
    
    visits_df.at[index, 'Id'] = original_df.loc[index,'_id']
    if 'user_id' in visit:
        visits_df.at[index, 'User Id'] = visit['user_id']
    elif 'userId' in visit:
        visits_df.at[index, 'User Id'] = visit['userId']
    visits_df.at[index, 'Begin At'] = pd.to_datetime(visit['visit_begin'])
    visits_df.at[index, 'Duration'] = visit['visit_duration']
    visits_df.at[index, 'Positions'] = visit['number_of_positions']
    visits_df.at[index, 'Zones'] = []
    zone_list1 = []

In [31]:
visit['visit_times_zones'][:]

[{'zone': {'id': 60910,
   'name': 'N1-Richelieu-Arts décoratifs européens',
   'tags': ['stats'],
   'level': 1},
  'begin_at': '2017-05-29T14:00:37.000Z',
  'duration': 48,
  'nextZone': 60894},
 {'zone': {'id': 60894,
   'name': 'N2-Richelieu-Peintures/France',
   'tags': [],
   'level': 2},
  'begin_at': '2017-05-29T14:01:26.000Z',
  'duration': 9,
  'nextZone': 60910},
 {'zone': {'id': 60910,
   'name': 'N1-Richelieu-Arts décoratifs européens',
   'tags': ['stats'],
   'level': 1},
  'begin_at': '2017-05-29T14:01:40.000Z',
  'duration': 73,
  'nextZone': 60846},
 {'zone': {'id': 60846,
   'name': 'RC-Richelieu-Antiquités du Proche-Orient',
   'tags': [],
   'level': 0},
  'begin_at': '2017-05-29T14:02:54.000Z',
  'duration': 45,
  'nextZone': 60847},
 {'zone': {'id': 60847,
   'name': 'RC-Richelieu-Sculptures France Puget',
   'tags': [],
   'level': 0},
  'begin_at': '2017-05-29T14:05:08.000Z',
  'duration': 3,
  'nextZone': 60910},
 {'zone': {'id': 60910,
   'name': 'N1-Richelieu-Arts décoratifs européens',
   'tags': ['stats'],
   'level': 1},
  'begin_at': '2017-05-29T14:05:12.000Z',
  'duration': 85}]

In [32]:
for  index, visit in original_df._source.iteritems():
    
    visits_df.at[index, 'Id'] = original_df.loc[index,'_id']
    if 'user_id' in visit:
        visits_df.at[index, 'User Id'] = visit['user_id']
    elif 'userId' in visit:
        visits_df.at[index, 'User Id'] = visit['userId']
    visits_df.at[index, 'Begin At'] = pd.to_datetime(visit['visit_begin'])
    visits_df.at[index, 'Duration'] = visit['visit_duration']
    visits_df.at[index, 'Positions'] = visit['number_of_positions']
    visits_df.at[index, 'Zones'] = []
    zone_list1 = []
    '''
    for zone in visit['visit_times_zones'][:]:
        visit['visit_times_zones'][:]
        if 'nextZone' in zone.keys():
            zone_list1.append({"ZoneBeginAt ": (pd.to_datetime(zone['begin_at'])).astimezone('UTC'), "ZoneId": zone['zone']['id'], "ZoneName": zone['zone']['name'], "ZoneLevel": zone['zone']['level'], "ZoneDuration": zone['duration'], "NextZoneId": zone['nextZone']})
            if 'user_id' in visit:
                zone_list2.append({"VisitId": original_df.loc[index,'_id'], "UserId": visit['user_id'], "VisitDuration": visit['visit_duration'], "VisitPositions": visit['number_of_positions'], "ZoneBeginAt": (pd.to_datetime(zone['begin_at'])).astimezone('UTC'), "ZoneId": zone['zone']['id'], "ZoneName": zone['zone']['name'], "ZoneLevel": zone['zone']['level'], "ZoneDuration": zone['duration'], "NextZoneId": zone['nextZone']})
            else: 
                zone_list2.append({"VisitId": original_df.loc[index,'_id'], "UserId": visit['userId'], "VisitDuration": visit['visit_duration'], "VisitPositions": visit['number_of_positions'], "ZoneBeginAt": (pd.to_datetime(zone['begin_at'])).astimezone('UTC'), "ZoneId": zone['zone']['id'], "ZoneName": zone['zone']['name'], "ZoneLevel": zone['zone']['level'], "ZoneDuration": zone['duration'], "NextZoneId": zone['nextZone']})
        else:
            zone_list1.append({"ZoneBeginAt": (pd.to_datetime(zone['begin_at'])).astimezone('UTC'), "ZoneId": zone['zone']['id'], "ZoneName": zone['zone']['name'], "ZoneLevel": zone['zone']['level'], "ZoneDuration": zone['duration'], "NextZoneId": 'none'})
            if 'user_id' in visit: 
                zone_list2.append({"VisitId": original_df.loc[index,'_id'], "UserId": visit['user_id'], "VisitDuration": visit['visit_duration'], "VisitPositions": visit['number_of_positions'], "ZoneBeginAt": (pd.to_datetime(zone['begin_at'])).astimezone('UTC'), "ZoneId": zone['zone']['id'], "ZoneName": zone['zone']['name'], "ZoneLevel": zone['zone']['level'], "ZoneDuration": zone['duration'], "NextZoneId": 'none'})
            else: 
                zone_list2.append({"VisitId": original_df.loc[index,'_id'], "UserId": visit['userId'], "VisitDuration": visit['visit_duration'], "VisitPositions": visit['number_of_positions'], "ZoneBeginAt": (pd.to_datetime(zone['begin_at'])).astimezone('UTC'), "ZoneId": zone['zone']['id'], "ZoneName": zone['zone']['name'], "ZoneLevel": zone['zone']['level'], "ZoneDuration": zone['duration'], "NextZoneId": 'none'})

        visits_df.at[index, 'Zones'] = zone_list1
zones_df = pd.DataFrame(zone_list2, columns=["UserId", "VisitId", "VisitDuration", "VisitPositions", "ZoneName", "ZoneLevel", "ZoneId", "ZoneBeginAt", "ZoneDuration", "NextZoneId"]) # Use "zone_list2" for "zones_df".
'''

In [33]:
zones_df = pd.DataFrame(columns = ["ZoneId", "ZoneName", "ZoneDuration", "ZoneLevel"])
for  index, visit in original_df._source.iteritems():
    
    visits_df.at[index, 'Id'] = original_df.loc[index,'_id']
    if 'user_id' in visit:
        visits_df.at[index, 'User Id'] = visit['user_id']
    elif 'userId' in visit:
        visits_df.at[index, 'User Id'] = visit['userId']
    visits_df.at[index, 'Begin At'] = pd.to_datetime(visit['visit_begin'])
    visits_df.at[index, 'Duration'] = visit['visit_duration']
    visits_df.at[index, 'Positions'] = visit['number_of_positions']
    visits_df.at[index, 'Zones'] = []
    zone_list1 = []
    for zone in visit['visit_times_zones'][:]:
        zones_df.at[index, "ZoneId"] = zone["zone"]["id"]
        zones_df.at[index, "ZoneName"] = zone["zone"]["name"]
        zones_df.at[index, "ZoneDuration"] = zone["duration"]
        zones_df.at[index, "ZoneLevel"] = zone["zone"]["level"]

In [34]:
#zones = hcv.loc[hcv['Category'] == 3]

In [35]:
ListZoneNames = zones_df.ZoneName.unique()

In [36]:
for zoneName in ListZoneNames : 
    zone1 = zones_df.loc[zones_df['ZoneName'] == zoneName]

In [37]:
ListZoneNames

array(['S2-Napoleon-Librairie,Boutiques', 'S2-Napoleon-Pyramide',
       "N1-Sully Pavillon de l'horloge", 'N2-Sully-Peintures/France BIS',
       'N1-Richelieu-Arts décoratifs européens',
       'N2-Richelieu-Peintures/Europe du Nord',
       'RC-Richelieu-Sculptures France Marly',
       'RC-Denon-Antiquités italiques et étrusques',
       'N1-Denon-Peintures/France', 'S2-Napoleon-Expositions',
       'RC-Sully-Antiquités égyptiennes', 'RC-Denon-Antiquités romaines',
       'RC-Sully-Antiquités du Proche-Orient',
       'N1-Sully-Arts décoratifs européens',
       'N1-Sully-Antiquités grecques et romaines',
       'S2-Napoleon-Billeterie', 'N2-Sully-Peintures/France',
       'RC-Sully-Antiquités grecques',
       "RC-Denon-Arts d'Afrique, d'Asie, d'Océanie et des Amériques",
       'N1-Sully-Antiquités égyptiennes', 'RC-Denon-Sculptures/Europe',
       'RC-Richelieu-Antiquités du Proche-Orient',
       'RC-Richelieu-Sculptures France Puget',
       'N1-Denon-Arts décoratifs européens',
       'N1-Denon-Escalier Peintures France', 'N1-Denon-Samothrace',
       'stairs_elevator', "N2-Sully-Pavillon de l'Horloge",
       'N2-Escalator', 'N2-Richelieu-Peintures/France'], dtype=object)

In [43]:
visits_df.Duration.max()

27697